a, a:hover, a:focus, a:visited, a:active, a:link {
    text-decoration: none;
}

.container {
    margin-top: 2%;
    margin-bottom: 2%;
}

body {
    background: url("asfalt.png") fixed;
}

.fsize {
    text-align: center !important;
}

@media (max-width: 480px) {
    td:first-child {
        max-width: 12em;
        overflow: hidden;
    }

    th:nth-child(2), td:nth-child(2) {
        display: none;
    }

    th.fsize{
        text-align: left !important;
    }
    td.fsize{
        text-align: right !important;
        padding-right: 5px !important;
    }
}
img{
	background-color: #0ef !important;
}
